.news-grid {
    display: flex grid;
    grid-template-columns: [main-start]75% [main-end cat-start]25%;
    grid-template-areas: 'topstories  categories'
        'newsgrid categories';
}

.top-stories {
    background-color: antiquewhite;
    grid-area: topstories;
    h2 {
        align-content: center;
    }
    .img {
        height: 50%;
        width: 20%
    }

}

.news-categories {
    background-color: azure;
    grid-area: categories;
}

.story-grid {
    background-color: beige;
    justify-content: space-around;
    grid-area: newsgrid;
    display: flex;
    flex-wrap: wrap;
    .news-story {
        margin-top: 2em;
        flex-basis: 25%;
        border-radius: 1em;
        display: flex;
        flex-wrap: wrap;
        * {
            flex-basis: 100%;
        }
        h3 {
            text-align: center;
        }
        img {
            border-radius: 1em;
        }
        p {
            padding: 0 1em;
            text-align: justify;
        }
    }
}


//FIXME: news-catergories sidebar -