body {
    h2 {
    padding-top: 100px;

    }
}

.site {

    display: flex;
    justify-content: center;
    .site-content {
        flex-basis: 80%;
    }
}

.site-content {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1 {
        width: 100%;
    }
}
.primary {
    flex-basis: 75%;
	max-width: 75%;
/*     .review-container {
        display: flex;
        justify-content: space-around;
        padding: 2em 0;
        div.review-list {
            width: 30%;
        }
    } */
}
.secondary {
    flex-basis: 25%;
    h3 {
        width: 100%;
    }
    p {
        width: 75%;
    }
}


.page-wrapper {
    width: 70vw;
    margin: 0 auto;
}



@import'reviews';
