body {
    margin: 0;
}






div {
    border: 1px solid grey;
}

@import'sass/nav';

@import'sass/layout';

@import'sass/grids';



img {
    max-width: 100%;
    height: auto;
}






