body {
    margin: 0;
}


    h2 {
    padding-top: 100px;
    }



div {
    border: 1px solid grey;
}

@import'sass/nav';

@import'sass/layout';

@import'sass/grids';



img {
    max-width: 100%;
    height: auto;
}




//TODO: top stories banner - full width


//FIXME: gallery grid


//TODO: frame content with images on review page

//TODO: Remove this todo