body {
  margin: 0; }

h2 {
  padding-top: 100px; }

div {
  border: 1px solid grey; }

.site-header {
  position: fixed;
  background-color: antiquewhite;
  z-index: 999;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .site-header .site-branding {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
  .site-header .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    border: 1px solid red; }
    .site-header .main-navigation ul.main-nav {
      border: 1px solid red;
      list-style: none;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .site-header .main-navigation ul.main-nav li {
        border: 1px solid gold;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 2em; }
        .site-header .main-navigation ul.main-nav li a {
          border: 1px solid blue; }
  .site-header .nav-toggle {
    display: none; }

@media screen and (max-width: 800px) {
  .site-header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .site-header .site-branding {
      display: none; }
    .site-header .main-navigation {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .site-header .main-navigation ul.main-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center; }
        .site-header .main-navigation ul.main-nav li {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
    .site-header .nav-toggle {
      display: block; } }

/*
    @media all and (max-width:800px) {
        .navigation {
            justify-content: space-around;
        }
        .navigation a:hover {
            background-color: white;
        }
    }
    @media all and (max-width:500px) {
        .navigation {
            flex-flow: column wrap;
            padding: 0;
            border-radius: 3px;
        }

    }*/
.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .site .site-content {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%; }

.site-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .site-content h1 {
    width: 100%; }

.page-wrapper {
  width: 70vw;
  margin: 0 auto; }

.primary .review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 2em 0; }
  .primary .review-container div.review-list {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%; }

@media screen and (max-width: 600px) {
  .primary .review-container {
    padding: 2em 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .primary .review-container div.review-list {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.home-page-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [hero-start] 20% [hero-end main-start] 60% [main-end news-start] 20%;
  grid-template-columns: [hero-start] 20% [hero-end main-start] 60% [main-end news-start] 20%;
  grid-template-areas: "hero main news" "gallery gallery news"; }

.hero-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background-color: antiquewhite;
  grid-area: hero; }

.main-text-content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  background-color: azure;
  grid-area: main; }

.news-updates {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  background-color: beige;
  grid-area: news; }

.gallery {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: gallery;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .gallery img {
    width: calc(100% /6);
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto; }

.news-grid {
  display: flex grid;
  -ms-grid-columns: [main-start] 75% [main-end cat-start] 25%;
  grid-template-columns: [main-start] 75% [main-end cat-start] 25%;
  grid-template-areas: "topstories  categories" "newsgrid categories"; }

.top-stories {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background-color: antiquewhite;
  grid-area: topstories; }
  .top-stories h2 {
    -ms-flex-line-pack: center;
    align-content: center; }
  .top-stories .img {
    height: 50%;
    width: 20%; }

.news-categories {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  background-color: azure;
  grid-area: categories; }

.story-grid {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  background-color: beige;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  grid-area: newsgrid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .story-grid .news-story {
    margin-top: 2em;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    border-radius: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .story-grid .news-story * {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    .story-grid .news-story h3 {
      text-align: center; }
    .story-grid .news-story img {
      border-radius: 1em; }
    .story-grid .news-story p {
      padding: 0 1em;
      text-align: justify; }

img {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=style.css.map */